@{
    ViewBag.Title = "About";
}
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <!-- <img src="assets/img/Home/common1.png"  height="100" width="100%" alt=""> -->
    <!-- End Hero -->
    <!-- ======= Common Image Section ======= -->
    <div class="container1">
        <img src="~/Content/img/Home/common.png" style="height: 350px; margin-top: 100px;" height="100%" width="100%" alt="">
        <div class="top-left">
            --------- WHO WE ARE<br>
            <h2 style="float: right;"><b>ABOUT US</b></h2>
        </div>
    </div>
    <!-- ======= End Common Image Section ======= -->
    <!-- ======= About Section ======= -->
    <section id="about" style="background-image: url('~/Content/img/Home/bbbb.png');">
        <div class="container">
            <div class="row showcase-section">
                <div class="col-md-6">

                    <img src="~/Content/img/Home/about - Copy.jpg" height="100%" width="100%" alt=""><br>
                </div>

                <br>
                <div class="col-md-6">
                    <div class="about-text">
                        <br><br>

                        <h2><b>OUR  <span class="color">STORY</span></b></h2>
                        <h3></h3>
                        <p style="text-align: justify;text-justify: inter-word;font-family: 'Poppins';">
                            <b>"VIJAYALAKSHMI TOWNSHIPS"</b> believe our 5G policy that is a Trust-Ability-Durability-Safety-New standards
                            and Eminent real estate company. We focus on achieving higher real estate project management and respect your
                            business and will offer you with the personalised attention and care you deserve, whether you are a property owner,
                            investor, realtor, or buyer. A rigorous Code of Ethics is one that we believe in. Integrity, devotion to quality, a
                            professional demeanour, and customised attention are values we hold dear.

                            The company is known for its quality meticulous planning and innovative approach to the ventures.
                            Everybody has come to recognize the values-driven approach of the "VIJAYALAKSHMI TOWNSHIPS". We believe in being
                            completely transparent towards our customers and are committed to delivering High-class quality projects. We always
                            believe in developing projects that redefine lifestyle. Our goal is to strike a bridge between the requirement to cut
                            through the clutter of a highly competitive market where trends have a short shelf life and the demands of cost and
                            investor trust. Responding to factors that are immutable to the site and the surrounding context rather than transient
                            trends is one strategy to avoid succumbing to this.
                            We concentrate in developing Suburban areas near the NRT TOWN and are experts in bringing town near the Project.
                            The projects developed by us today have become landmark in the NRT TOWN and also have developed suburbs around it making it a prime spot for land investment.
                            Our family of satisfied customers is growing every day and thus strengthening our brand image – brick by brick!

                        </p>		<br>

                        <div>

                            <!-- <a href="aboutus.html" >Read More <i class="bx bx-chevron-right"></i> </a>				<br>						 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section> <br>
    <!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="about" style="background-color: orange;">
        <div class="row">
            <div class="col-md-3" style="text-align:center;color:white;">
                <img src="~/Content/img/Home/vision.png"><br><br>
                <h3>Vision</h3>
                To be a valued real estate development company that benchmarks world-class real estate products and concepts across all real
                estate verticals, thereby building a modern India and creating greater value for customers, corporate clients and investors.
            </div>
            <div class="col-md-3" style="text-align:center;color:white;">
                <img src="~/Content/img/Home/mission.png"><br><br>
                <h3>Mission</h3>
                Striving to exceed the expectations of our customers, corporate clients and investors through superior quality construction.
                All with transparency, improved specifications, timely delivery and the highest level of professionalism and ethics.
            </div>
            <!-- <div class="col-md-2" style="text-align:center;color:white;">
              <img src="assets/img/Home/core.png"><br><br>
              <h3>Values</h3>
              To create residential wonders for customers, we create for ourselves without compromising on quality, authenticity and attention to detail.
              Embracing the foundational values culturally inherited from the founding of the organization.
            </div> -->
            <div class="col-md-3" style="text-align:center;color:white;">
                <img src="~/Content/img/Home/core.png"><br><br>
                <h3>Passion</h3>
                The company is leaving no stone unturned to put its heart and soul into creating quality residential addresses for our customers –
                addresses they never want to change. Our efforts are backed by cutting-edge technology, superior construction materials and a top-notch.
            </div>
            <div class="col-md-3" style="text-align:center;color:white;">
                <img src="~/Content/img/Home/core.png"><br><br>
                <h3>Confidence</h3>
                Seeing is believing. Visit our model houses, apartments, our sites and completed projects to see our vision come true.
                Once you do, we believe our values and expertise will help you realize your dreams.
            </div>
        </div>

    </section>

    </section><br>
    <!-- End Services Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg" style="background-image: url('~/Content/img/Home/bbbb.png');">
        <div class="container">

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2><b>Our Team of Leaders</b></h2>
                <p style="color: orange;">
                    <b>_____________________________________________________________________</b>
                </p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                We are extremely happy today that we have chosen VIJAYALAKSHMI TOWNSHIPS to invest our money in,
                                where it is secure. Today, we have witnessed that the property value has become double our investment within no time.
                                We highly recommend VIJAYALAKSHMI TOWNSHIPS to all our friends and relatives.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Content/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3></h3>
                            <h4>SUBBARAO R</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                The greatest advantage of VIJAYALAKSHMI TOWNSHIPS is the location of their properties, <br>which are close to the city and
                                they are strategically located. Developments around our project are happening at a rapid pace.
                                Our decision in buying a property with VIJAYALAKSHMI TOWNSHIPS makes us very happy today. Thank you, VIJAYALAKSHMI TOWNSHIPS
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Content/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3></h3>
                            <h4>RAMA DEVI</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Properties VIJAYALAKSHMI TOWNSHIPS is developing are clear titles, hassle-free. <br>The Employees and Management are very supportive.
                                From showing the property till registration,
                                the approach is very professional. We are impressed with the property developments that are taking place.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Content/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3></h3>
                            <h4>NAGARAJU</h4>
                        </div>
                    </div>
                   

                </div>
                <div class="swiper-pagination">

                </div>
            </div>

        </div>
    </section>
   