
@{
    ViewBag.Title = "Galleries";
}
<!-- ======= Common Image Section ======= -->
<div class="container1">
    <img src="~/Content/img/Home/common.png" style="height: 350px; margin-top: 100px;" height="100" width="100%" alt="">
    <div class="top-left">
        --------- VIEW OUR PROJECTS PROGRESS<br>
        <h2 style="float: right;"><b>GALLERY</b></h2>
    </div>
</div>
<!-- ======= End Common Image Section ======= -->
<!-- ======= BLOG Section ======= -->
<section id="portfolio" class="portfolio" style="background-image: url('~/Content/img/Home/bbbb.png');">
    <div class="container">
        <span class="color"></span>

        <h4><B>Gallery</B></h4><br>


        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/0.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/0.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/2.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/2.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/3.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/3.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/4.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/4.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/5.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/5.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/6.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/6.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/7.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/7.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/8.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/8.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/9.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/9.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/10.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/10.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/23.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/23.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/11.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/11.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/12.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/12.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/13.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/13.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/14.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/14.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/15.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/15.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/16.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/16.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/17.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/17.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/18.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/18.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/19.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/19.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/20.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/20.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/21.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/21.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Gallery/Final/22.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Gallery/Final/22.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>





        </div>

    </div>
</section>
<!-- End BLOG Section -->
