@{
    ViewBag.Title = "Home Page";
}

<!-- ======= About Section ======= -->

<div id="slider" style="margin-top: 90px;">
    <figure>
        <img src="~/Content/img/Home/slidder1.png" alt="">
        <img src="~/Content/img/Home/slidder5.png" alt="">
        <img src="~/Content/img/Home/slidder2.png" alt="">
        <img src="~/Content/img/Home/slidder6.png" alt="">
    </figure>
</div>
<section id="about" style="background-image: url('~/Content/img/Home/bbbb.png');">
    <div class="container">
        <div class="row showcase-section">
            <div class="col-md-6">
                <p class="SubheadPara">GET TO KNOW US</p>
                <p class="headPara">
                    <b>ABOUT <span class="color">THE COMPANY</span></b></h3>
                    <img style="box-shadow: 5px 5px 10px;" src="~/Content/img/Home/about.jpg" height="100%" width="100%" alt=""><br>
            </div>

            <br>
            <div class="col-md-6">
                <div class="about-text">
                    <br><br><br>
                    <h4 style="background-color: #2e7a72; color: #fff;">
                        Converting habitable lands into best lifestyle destinations is our passion.
                    </h4><br>

                    <h5><b>Creating Icons of Perfection</b></h5>
                    <p style="text-align: justify;text-justify: inter-word;font-family: 'Poppins';">
                        VIJAYALAKSHMITOWNSHIPS NRT PVT. LTD is led by a first generation young and dynamic professionals
                        with more than two decades of experience behind them. 
                        The company is one of the most reputed and well-recognized Real Estate Developers in Narasaraopet,
                        Palnadu area. We are focus on developing the properties keeping in mind what is best for our customers.
                        Our pre-eminent goal and ambition is to avail the best plots to buy and to perceive and fulfil all of our customers’
                        requirements as we aspire to be one of the top developers. Our projects are regulated by DTCP assuring stability and
                        security for our customers.
                    </p>
                    <div class="col-md-4">
                        @*<button style="background-color: orange;">*@
                        <a href="/Home/About" style="color: #000;background-color: orange;">Read More....</a>
                        @*</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</section> <br>
<!-- End About Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services" style="background-color: #2e7a72;">
    <div class="container">

        <div class="row" style="color: white;">
            <div class="col-md-10">
                <p style="
            font-size: 26px;
            text-align: right;">In the midst of mother nature. Living in the pleasant atmosphere every day.</p>
                <p style="
            font-size: 14px;
            text-align: right;">A good start to a new life from today....</p>
            </div>
            <div class="col-md-2">
                <button><a href="aboutus.html" style="color: #000;">Click Here</a></button>
            </div>
        </div>


    </div>

    </div>
</section>
<!-- End Services Section -->
<!-- ======= Portfolio Section ======= -->
<section id="about" style="background-image: url('~/Content/img/Home/bbbb.png');">
    <div class="container">
        <div class="row showcase-section">
            <div class="col-md-6">
                <span class="SubheadPara">PORTFOLIO</span>

                <p class="headPara">OUR PROJECTS</p>
                <p style="text-align: justify;text-justify: inter-word;font-family: 'Poppins';">
                    Any gated community plots that we develop is replete with all infrastructural facilities equipped with the best
                    of a residential open villa with CC Roads, electricity, drainage, underground water supply, recreation lawn, parks
                    for recreation, community space for common & public utility. we offer High quality luxurious residential villa plots
                    for affordable pricing. Comprehensive Amenities in the building.  24/7 Professional Customer Support. Advanced security
                    system with modern equipment. Green and Clean environment.
                </p>
            </div>

            <br>
            <div class="col-md-6">
                <div class="about-text">
                    <br><br>
                    <a href="Projects.html">
                        <img style="box-shadow: 5px 5px 10px;" src="~/Content/img/Home/layout.png" height="100%" width="100%" alt=""><br>
                    </a>


                </div>
            </div>
        </div>
    </div>

    </div>
</section> <br>
<!-- End Portfolio Section -->
<!-- ======= BLOG Section ======= -->
<section id="portfolio" class="portfolio" style="background-color: #2e7a72;">
    <div class="container">
        <span class="SubheadPara" style="color: #fff;">OUR BLOG</span>

        <p class="headPara" style="color: #fff;">LATEST NEWS </p><br>


        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <a href="/Home/Projects"><img src="~/Content/img/portfolio/portfolio-1.jpeg" class="img-fluid" alt=""></a>
                    <p style="text-align:center;color:white"><b>Project 1</b></p>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <a href="/Home/Projects"><img src="~/Content/img/portfolio/portfolio-2.jpeg" class="img-fluid" alt=""></a>
                    <p style="text-align:center">Project 2</p>
                    
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <a href="/Home/Projects"><img src="~/Content/img/portfolio/portfolio-4.jpeg" class="img-fluid" alt=""></a>
                    <p style="text-align:center">Project 3</p>
                    
                </div>
            </div>

        

        </div>

    </div>
</section>
<!-- End BLOG Section -->
<!-- =======Video Section ======= -->
<section id="about" style="background-image: url('~/Content/img/Home/bbbb.png');">
    <div class="container">
        <div class="row showcase-section">



            <div class="col-md-6">
                <div class="about-text">

                    <span class="SubheadPara">TAKE A LOOK AT OUR</span>
                    <p class="headPara">VEDHA MEADOWS</B></h3><br>
                    <p style="text-align: justify;text-justify: inter-word;font-family: 'Poppins';">
                        VEDHA MEADOWS is an expanse of 40.68 acres, a gated community open villa plots venture at Mulakaluru with
                        access to all right social amenities like multiple well-developed access roads, well-connected to schools, access
                        to hospitals and village markets, it is located in a promising micro-market with great scope for property appreciation.

                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <video width="100%" height="100%" controls>
                    <source src="~/Content/img/VLT.mp4">
                </video>
            </div>
        </div>
    </div>

    </div>
</section>

<!-- ======= End Video ======= -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg" style="background-image: url('~/Content/img/Home/bbbb.png');">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <span class="color">WE'D LOVE TO HEAR FROM YOU</span>

            <h4><B>GET IN TOUCH</B></h4><br>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="info-box mb-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="number" class="form-control" name="number" id="email" placeholder="Your Mobile No." required>
                            </div>
                        </div>
                        <div class="form-group mt-3 form-group">
                            <input type="message" class="form-control" name="message" id="message" placeholder="Please Enter Message" required>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services" style="background-color: #2e7a72;">

        <div class="container">

            <div class="row" style="color: white;">
                <div class="col-md-10">
                    <p style="
            font-size: 26px;
            text-align: center;">
                        OUR CUSTOMER CARE TEAM WILL ASSIST YOU FROM 10.00 AM TO 8.00 PM
                        PLEASE CONTACT US FOR SITE VISIT !!!
                    </p>
                    <p style="
            font-size: 28px;
            text-align: center;"><a href="tel:+917036047222"><b>Mobile No.+917036047222</b></a></p>
                </div>

            </div>


        </div>


    </section>
    <!-- End Services Section -->

</section><!-- End Contact Section -->
