
@{
    ViewBag.Title = "Projects";
}
<!-- ======= Common Image Section ======= -->
<div class="container1">
    <img src="~/Content/img/Home/common.png" style="height: 350px; margin-top: 100px;" height="100%" width="100%" alt="">
    <div class="top-left">
        --------- OPEN PLOTS<br>
        <h2 style="float: right;"><b>PROJECTS</b></h2>
    </div>
</div>
<!-- ======= End Common Image Section ======= -->
<!-- ======= BLOG Section ======= -->
<section id="portfolio" class="portfolio" style="background-image: url('~/Content/img/Home/bbbb.png');">
    <div class="container">
        <span class="color">Projects</span>

        <h4><B>Latest Projects</B></h4><br>


        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Home/venture.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Home/venture.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="Home/Vedha" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Home/venture1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Home/venture1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="2">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="Home/Vedha" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Home/venture.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/Content/img/Home/venture.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="3">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="Home/Vedha" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
